.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Post > img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.postReact{
   display: flex;
   align-items: flex-start;
   gap: 1.5rem;
}

.chatList {
    position: sticky;
    top: 50px;
    left: 10%;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
  }
  
  .chatList h4 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .chatList ul {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .chatUserItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .chatUserItem:hover {
    background: #f5f5f5;
  }
  
  .chatUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .likesCount {
    color: var(--gray);
    font-size: 14px;
    margin-top: 5px;
  }
  